<!-- <div *ngIf="true">
    <h1>Hi Div 1 </h1>
</div>
<div *ngIf="false">
    <h1>HJi Div 2 </h1>
</div>
<div *ngIf="abc">
    <h1> hi Div 3 </h1>
</div> -->


<!-- <input type="submit" (click)="xyz()"> -->


<!-- <hr>
 <ul *ngFor="let employees of emp">
    <li >{{employees}}</li>
 </ul>
 <br>
<input type="text" #fruit>
<input type="submit"  (click)="addfruit(fruit.value)">
<ul *ngFor="let fru of fruits">
    <li>{{fru}}</li>
 </ul>
 <hr>
 <ul *ngFor="let e of emps">
    <li>{{e.id}}-----{{e.name}}</li>
 </ul>

<input type="text" #nu>
<input type="submit"  (click)="numb(nu.value)">
 <div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">Kannda</div>
  <div *ngSwitchCase="'2'">English</div>
  <div *ngSwitchCase="'3'">Marathi</div>
  <div *ngSwitchCase="'4'">Telgu</div>
  <div *ngSwitchDefault>Hindi</div>
</div>

<h2>List of Fruits</h2>
<ul>
  <li *ngFor="let fruit of fruits; let i = index">
    {{ i + 1 }}. {{ fruit }}
  </li>
</ul>

<h3>Employee List</h3>
<ul>
  <li *ngFor="let emp of employees; let i = index">
    {{ i + 1 }}. {{ emp.name }} (ID: {{ emp.id }})
  </li>
</ul> -->
 
<h1> Attribute Demo </h1>
<div [ngClass]="{'div':true,'bgclr':true,'bdr':true}">
    Directives are markers in the Document Object Model(DOM).
    Directives can be used with any controller or HTML tag w
    hich will tell the compiler what exact operation or behavior is expected.
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
</div>

<div [ngClass]="{'div':true,'bgclr':false,'bdr':true,'mrgn':true}">
    Directives are markers in the Document Object Model(DOM).
    Directives can be used with any controller or HTML tag w
    hich will tell the compiler what exact operation or behavior is expected.
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
</div>


<div [ngClass]="{'div':true,'bgclr':true,'bdr':false}">
    Directives are markers in the Document Object Model(DOM).
    Directives can be used with any controller or HTML tag w
    hich will tell the compiler what exact operation or behavior is expected.
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
    There are some directives present that are predefined but if a
    developer wants he can create new directives (custom-directive).
</div>





